.friends__title {
  color: #1875e8;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}

.friends__container {
  border: 1px solid #1875e8;
  border-radius: 8px;
  box-shadow: 0 0 15px #1875e8;
  padding: 24px;
  width: 453px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend_name {
  color: #fff;
}